/map_depot/assets
/map_depot/assets_common
/map_depot/assetss3
/map_depot/assetss4
/map_depot/assetss5
/map_depot/assetss6
/map_depot/assetss7
/map_depot/assetss8
/map_depot/assetss9
/sdk_depot/assets_sdk
/sdk_depot/others/canyonlands_64k
/sdk_depot/others/canyonlands_mu1
/sdk_depot/others/canyonlands_night
/sdk_depot/others/common
/sdk_depot/others/common_mp
/sdk_depot/others/common_new
/sdk_depot/others/desertlands_64k
/sdk_depot/others/flowstate
*.dds
*.rrig
*.rseq
*.anir
*.rpak
*.starpak
/paks
*.exe
*.pdb
*.bak
/sdk_depot/mods
/sdk_depot/others/common_mp_new
