/map_depot/assets
/map_depot/assets_common
/map_depot/assetss3
/map_depot/assetss4
/map_depot/assetss5
/map_depot/assetss6
/map_depot/assetss7
/map_depot/assetss8
/map_depot/assetss9
/sdk_depot/assets_sdk
/sdk_depot/others
*.dds
*.rrig
*.rseq
*.anir
/paks
*.exe
*.pdb
/sdk_depot/mods
